<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1>Add a Product</h1>
    <form action="/products" method="POST" enctype="application/x-www-form-urlencoded">
        <label for="name">Nama Produk</label>
        <input type="text" name="name" id="name" minlength="3" max="100" required>
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand" minlength="3" max="100" required>
        <label for="color">Warna</label>
        <input type="text" name="color" id="color" minlength="3" max="20" required>
        <label for="price">Harga</label>
        <input type="number" name="price" id="price" min="1000" required>
        <label for="category">Kategori</label>
        <select name="category" id="category" required>
            <option value="" hidden disabled selected>Pilih Category</option>
            <option value="Aksesoris">Aksesoris</option>
            <option value="Baju">Baju</option>
            <option value="Celana">Celana</option>
            <option value="Jaket">Jaket</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>