<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <a href="/products/create">Add Product</a>
    <% if (category !== "All") { %>
    <a href="/products">All Products</a>
    <% } %>
    <ul>
        <% products.forEach((product) => { %>
        <li>
            <a href="/products/<%= product.id %>"><%= product.name %> - <%= product.brand %></a>
        </li>
        <% }) %>
    </ul>
</body>
</html>